/* #slider {
    opacity:1;
    transition: opacity 1s; 
}

#slider.fadeOut {
    opacity:0;
} */

.gallery {
    margin-left: auto;
    margin-right: auto;
}

.galleryItem {
    opacity: 0.8;
    transition: 0.3s;
}

.galleryItem:hover {opacity: 1}

.hiddenElements{
    display: none !important;    
}

.paddintText{
    padding: 0.5%;
}

.box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
  }

.btn_1_custom {
    background-color: #b91c09;
}

.btn_1_custom:hover {
    border: 2px solid #b63f32;
    background-color: #f8a39a;  
    color: #fff;
}

.bodyUnderConstruction {
	background: url(../img/under_construction.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-redLight{
	background-color: #fae2e23f;
}

.blog_item_date_custom{
	background-color: #a54444da !important;
	position: absolute;    
    bottom: 99px;
    left: 11px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    padding-top: 15px;
}

p {
    font-family: opensans,helvetica,arial,sans-serif;
    color: darkslategray;
}

.section_tittle_custom {    
    color:#b91c09 !important; 
    /* font-weight: bolder !important; */
}

.blog_item_date {
    background-color: #b91c09 !important;
}

b, sup, sub, u, del {
    color: rgb(117, 65, 0);
}

.banner_part {
    height: 800px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("../img/site/CUSTOM6_banner_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideBg 50s linear infinite 0s;
    background-size: cover;
    backface-visibility: hidden;
  }

  .click-btn-custom {
    background-color: #b91c09;
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 20px;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    position: relative;
    left: 0;
  }

  /* anchor hover */
  a:hover, a :hover {
    color: #b91c09;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .blog_details a:hover {
    color: #b91c09;
  }

  .blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #b91c09;
  }

  .blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #b91c09;
    color: #fff;
  }
  
  .single-post-area .blog-author a:hover {
    color: #b91c09;
  }

  .main_menu .header_social_icon ul li a:hover {
    color: #b91c09;
  }

  .banner_part .banner_social_icon a:hover {
    color: #b91c09 !important;
  }

  .copyright_part .footer-social a:hover {
    background-color: #b91c09;
    color: #fff;
  }

  .contact-info .media-body h3 a:hover {
    color: #b91c09;
  }

  .footer-area .single-footer-widget ul li a:hover {
    color: #b91c09;
  }  

  .collapse .navbar-collapse .navbar-nav .mr-auto .nav-item a:hover{
    color: #b91c09;
  }

  .main_menu ul li :hover {
    color: #b91c09 !important;
  }

  /* anchor hover */

  .fonteHomePage {    
    color: whitesmoke; font-size: 15px; text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    font-size: 18px;
    color: lightyellow;
  }

  .breadcrumb_bg_custom {
    background-image: url("../img/site/__custom_breadcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .breadcrumb_bg_custom2 {
    background-image: url("../img/site/__custom2_breadcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .breadcrumb_bg_custom3 {
    background-image: url("../img/site/__custom4_breadcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .breadcrumb_bg_custom4 {
    background-image: url("../img/site/__custom5_breadcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .paddingLinhaFotos {
    padding: 1%;
  }

  .listStyle{
    display: block;
    list-style-type: disc;
    /* margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0; */
    padding-left: 40px;
    font-size: 1.1rem;
    font-family: opensans,helvetica,arial,sans-serif;
    color: darkslategray;
  }


@keyframes slideBg {
    0%{     
        background-image: url("../img/site/__CUSTOM6_banner_bg.jpg");
    }
    10%{     
        background-image: url("../img/site/__CUSTOM6_banner_bg.jpg");
    }
    20%{         
        background-image: url("../img/site/__CUSTOM8_banner_bg.jpg");
    }
    30%{       
        background-image: url("../img/site/__CUSTOM8_banner_bg.jpg");
    }
    40%{       
        background-image: url("../img/site/__CUSTOM8_banner_bg.jpg");
    }
    50%{      
        background-image: url("../img/site/__CUSTOM7_banner_bg.jpg");
    }
    60%{          
        background-image: url("../img/site/__CUSTOM7_banner_bg.jpg");
    }
    70%{          
        background-image: url("../img/site/__CUSTOM7_banner_bg.jpg");
    }
    80%{          
        background-image: url("../img/site/__CUSTOM9_banner_bg.jpg");
    }
    90%{          
        background-image: url("../img/site/__CUSTOM9_banner_bg.jpg");
    }
    100%{        
        background-image: url("../img/site/__CUSTOM6_banner_bg.jpg");
    }
}

@media (min-width: 64rem){
    p{
        font-size: 1.1rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
}   

@media only screen and (max-width: 991px) and (min-width: 768px){
    .banner_part {
        height: 700px;
        background-image: none;
        background-color: #fddbd7 !important;
    }
    .main_menu .nav-item {
        padding: 5px 10px 5px 15px;
        background-color: rgb(233, 232, 232);
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px){
    .banner_part {
        height: 650px;
        background-image: none;
        background-color: #fddbd7 !important;
    }
    .main_menu .nav-item {
        padding: 5px 10px 5px 15px;
        background-color: rgb(233, 232, 232);
    }
}

@media (max-width: 576px){
    .banner_part {
        height: 600px;
        background-image: none;
        background-color: #fddbd7 !important;
    }
    .main_menu .nav-item {
        padding: 5px 10px 5px 15px;
        background-color: rgb(233, 232, 232);
    }
}