
.btn_1_custom {
    background-color: #b91c09;
}

.btn_1_custom:hover {
    border: 2px solid #b63f32;
    background-color: #f8a39a;  
    color: #fff;
}

.bodyUnderConstruction {
	background: url(../img/under_construction.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-redLight{
	background-color: #fae2e23f;
}

.blog_item_date_custom{
	background-color: #a54444da !important;
	position: absolute;    
    bottom: 99px;
    left: 11px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    padding-top: 15px;
}

p {
    font-family: opensans,helvetica,arial,sans-serif;
    color: darkslategray;
}

.section_tittle_custom {    
    color:#b91c09 !important; 
    /* font-weight: bolder !important; */
}

.blog_item_date {
    background-color: #b91c09 !important;
}

b, sup, sub, u, del {
    color: #b91c09;
}

@media (min-width: 64rem){
    p{
        font-size: 1.1rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
}   

@media only screen and (max-width: 991px) and (min-width: 768px){
    .banner_part {
        height: 700px;
        background-image: none;
        background-color: #fddbd7 !important;
    }
    .main_menu .nav-item {
        padding: 5px 10px 5px 15px;
        background-color: rgb(233, 232, 232);
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px){
    .banner_part {
        height: 650px;
        background-image: none;
        background-color: #fddbd7 !important;
    }
    .main_menu .nav-item {
        padding: 5px 10px 5px 15px;
        background-color: rgb(233, 232, 232);
    }
}

@media (max-width: 576px){
    .banner_part {
        height: 600px;
        background-image: none;
        background-color: #fddbd7 !important;
    }
    .main_menu .nav-item {
        padding: 5px 10px 5px 15px;
        background-color: rgb(233, 232, 232);
    }
}